In [17]:
import splinter 
from splinter import Browser
from bs4 import BeautifulSoup
url = 'https://static.bc-edx.com/data/web/mars_facts/index.html'

In [18]:
browser = Browser('chrome')
browser.visit(url)
html = browser.html
soup = BeautifulSoup(html,'html.parser')

In [19]:
table = soup.find('table',class_='table table-striped')
table

<table class="table table-striped">
<tbody>
<tr>
<th scope="row">Equatorial Diameter:</th>
<td>6,792 km</td>
</tr>
<tr>
<th scope="row">Polar Diameter:</th>
<td>6,752 km</td>
</tr>
<tr>
<th scope="row">Mass:</th>
<td>	6.39 × 10^23 kg (0.11 Earths)</td>
</tr>
<tr>
<th scope="row">Moons:</th>
<td>	2 (<span class="red">Phobos </span> &amp; <span class="red"> Deimos</span>)</td>
</tr>
<tr>
<th scope="row">Orbit Distance:</th>
<td>	227,943,824 km (1.38 AU)</td>
</tr>
<tr>
<th scope="row">Orbit Period:</th>
<td>	687 days (1.9 years)</td>
</tr>
<tr>
<th scope="row">Surface Temperature:</th>
<td>	-87 to -5 °C</td>
</tr>
<tr>
<th scope="row">First Record:</th>
<td>	2nd millennium BC</td>
</tr>
<tr>
<th scope="row">Recorded By:</th>
<td>	Egyptian astronomers</td>
</tr>
</tbody>
</table>

In [20]:
all_rows = table.find_all('tr')
all_rows

[<tr>
 <th scope="row">Equatorial Diameter:</th>
 <td>6,792 km</td>
 </tr>,
 <tr>
 <th scope="row">Polar Diameter:</th>
 <td>6,752 km</td>
 </tr>,
 <tr>
 <th scope="row">Mass:</th>
 <td>	6.39 × 10^23 kg (0.11 Earths)</td>
 </tr>,
 <tr>
 <th scope="row">Moons:</th>
 <td>	2 (<span class="red">Phobos </span> &amp; <span class="red"> Deimos</span>)</td>
 </tr>,
 <tr>
 <th scope="row">Orbit Distance:</th>
 <td>	227,943,824 km (1.38 AU)</td>
 </tr>,
 <tr>
 <th scope="row">Orbit Period:</th>
 <td>	687 days (1.9 years)</td>
 </tr>,
 <tr>
 <th scope="row">Surface Temperature:</th>
 <td>	-87 to -5 °C</td>
 </tr>,
 <tr>
 <th scope="row">First Record:</th>
 <td>	2nd millennium BC</td>
 </tr>,
 <tr>
 <th scope="row">Recorded By:</th>
 <td>	Egyptian astronomers</td>
 </tr>]

In [21]:
th_list = []
td_list = []
for i in range(len(all_rows)):

    th = all_rows[i].find('th').text
    th_list.append(th)

    td = all_rows[i].find('td').text
    td_list.append(td)

print(th_list)

print(td_list)

browser.quit()

['Equatorial Diameter:', 'Polar Diameter:', 'Mass:', 'Moons:', 'Orbit Distance:', 'Orbit Period:', 'Surface Temperature:', 'First Record:', 'Recorded By:']
['6,792 km', '6,752 km', '\t6.39 × 10^23 kg (0.11 Earths)', '\t2 (Phobos  &  Deimos)', '\t227,943,824 km (1.38 AU)', '\t687 days (1.9 years)', '\t-87 to -5 °C', '\t2nd millennium BC', '\tEgyptian astronomers']

In [22]:
import pandas as pd

df = pd.DataFrame({'Description':th_list,'Value':td_list})

df.head()

            Description                            Value
0  Equatorial Diameter:                         6,792 km
1       Polar Diameter:                         6,752 km
2                 Mass:  \t6.39 × 10^23 kg (0.11 Earths)
3                Moons:          \t2 (Phobos  &  Deimos)
4       Orbit Distance:       \t227,943,824 km (1.38 AU)

In [23]:
df['Description']=df['Description'].str.replace(':','')
df['Value']=df['Value'].str.strip()

df.head()

           Description                          Value
0  Equatorial Diameter                       6,792 km
1       Polar Diameter                       6,752 km
2                 Mass  6.39 × 10^23 kg (0.11 Earths)
3                Moons          2 (Phobos  &  Deimos)
4       Orbit Distance       227,943,824 km (1.38 AU)

In [24]:
# Reading tables using Pandas from an html page

df_1 = pd.read_html(url)

# There are 3 tables in this page 

len(df_1)

3

In [25]:
# Displaying the 1st table

df_1[0]

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [26]:
df_1[0].columns

Index([0, 1], dtype='int64')

In [31]:
# Renaming the columns

df_1[0].columns = ['Description','Value']
df_1[0]

            Description                          Value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers